.card {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(202, 209, 209);
}
.ss{
    border: 1px solid;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    border-radius: 20px;
    box-sizing: border-box;
    margin: 5px;
    padding: 1px;
    text-align: center;
    width: 200px;
    height: 300px;
    background:linear-gradient(#f7a4f0, #4e5381, #4ef8);
}

.img1{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 10%;
    top: 32%;
}
.img2{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 35%;
    top: 32%;
}
.img3{
    width: 80px;
    height: 80px; 
    position: absolute;
    left: 59%;
    top: 32%;
}
.img4{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 84%;
    top: 32%;
}